// Adaptive
$tablet: 1200;
$tabletPortrait: 769;
$mobile: 640;
$mobileSmall: 320;

@mixin r($width) {
	@media only screen and (max-width: $width+ "px") {
		@content;
	}
}

@mixin tablet {
	@include r($tablet) {
		@content;
	}
}

@mixin tablet-portrait {
	@include r($tabletPortrait) {
		@content;
	}
}

@mixin mobile {
	@include r($mobile) {
		@content;
	}
}

@mixin mobile-small {
	@include r($mobileSmall) {
		@content;
	}
}

@mixin device-iPad_Pro {
	@media screen and (min-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
		@content;
	}
}

@mixin device-iPad_Pro-portrait {
	@media screen and (min-width:1024px) and (max-height: 1366px) and (orientation: portrait) {
		@content;
	}	
}

@mixin device-iPhone_X {
	@media only screen 
		and (device-width : 375px) 
		and (device-height : 812px) 
		and (-webkit-device-pixel-ratio : 3) {
		@content;
	}
}