<template lang="pug">
	header.header
		.header__wrapper
			a.header__logo(href='/' target='blank') inventory
				//- img(src='' alt='logo')
			.header__search
				input.header__input(type="serch" placeholder='Поиск')
			.date.header__date
				.date__text
				.day.date__day
					span.day__today Today
					span.day__date
					svg.day__svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 128 128" style="fill:#93c75a;")
						path(d="M 64 13.5 C 36.2 13.5 13.5 36.2 13.5 64 C 13.5 91.8 36.2 114.5 64 114.5 C 91.8 114.5 114.5 91.8 114.5 64 C 114.5 36.2 91.8 13.5 64 13.5 z M 64 19.5 C 88.5 19.5 108.5 39.5 108.5 64 C 108.5 88.5 88.5 108.5 64 108.5 C 39.5 108.5 19.5 88.5 19.5 64 C 19.5 39.5 39.5 19.5 64 19.5 z M 64 31 C 62.3 31 61 32.3 61 34 L 61 58.800781 C 59.2 59.800781 58 61.8 58 64 C 58 67.3 60.7 70 64 70 C 66.2 70 68.199219 68.8 69.199219 67 L 84 67 C 85.7 67 87 65.7 87 64 C 87 62.3 85.7 61 84 61 L 69.199219 61 C 68.699219 60.1 67.9 59.300781 67 58.800781 L 67 34 C 67 32.3 65.7 31 64 31 z")
					span.day__time
</template>

<script>

export default {
	name: 'top-menu',
	data: function(){
		return {
			monthList: [
				'Янв',
				'Фев',
				'Мар',
				'Апр',
				'Май',
				'Июн',
				'Июл',
				'Авг',
				'Сен',
				'Окт',
				'Ноя',
				'Дек'
			]
		}
	},
	components: {},
	props: {},
	methods: {},
	computed: {},
	mounted() {
		let time = new Date();
		let timeContainer = document.getElementsByClassName('day__time')[0];
		let dateContainer = document.getElementsByClassName('day__date')[0];
		let month;
		let monthNumber = time.getMonth();

		for(let i = 0; i < this.monthList.length; i++) {
			if (monthNumber == i) {
				month = this.monthList[i]
			}
		}
		
		timeContainer.innerHTML = time.getHours() + ':' + time.getMinutes();
		dateContainer .innerHTML =  time.getDate() + ' ' + month +  ', ' + time.getFullYear();

		setInterval(() => {
			let time = new Date();
			timeContainer.innerHTML = time.getHours() + ':' + time.getMinutes();
		}, 1000)
	},
	created() {}
	};
</script>

<style lang="scss" scoped>
	.header {
		width: 100%;
		height: 73px;
		background-color: #fff;
		box-shadow: 0px -28px 44px 0px black;
		padding: 0 200px;
		position: relative;
		z-index: 2;
		transform: translateZ(1px);

		&__wrapper {
			font-size: 0;
			letter-spacing: 0;
			height: 100%;

			&::after {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}

		&__logo {
			color: #7cb342;
			text-transform: uppercase;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 51px;
		}

		&__input {
			font-size: 15px;
			color: #000;
			width: 300px;
			border-radius: 4px;
			box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
			background-color: #f0f3f5;
			height: 31px;
			padding-left: 13px;
			font-size: 16px;
			font-weight: 600;
			width: 413px;
		}

		&__search {
			display: inline-block;
			vertical-align: middle;
			height: 31px;
			margin-left: 152px;
		}
	}

	.date {
		position: absolute;
		right: 162px;
		top: 44%;
		transform: translateY(-50%);
	}

	.day {
		text-align: left;

		&__today {
			font-size: 15px;
			color: #000;
			display: block;
		}

		&__time, &__date {
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
		}

		&__svg {
			margin: 0 6px 0 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}
</style>
