<template lang="pug">
	div
		block-header
		block-nav
		main.main(:class="{'main_modal-mode': isModalOrderOpen === true}")
			.mask(v-if="isModalOrderOpen")
			block-orders(:dataPull="getOrdersData")
		block-modal
</template>

<script>

	import $store from '@/components/store.js';

	import BlockHeader from '../blocks/includes/topMenu/topMenu.vue';
	import BlockNavigation from '../blocks/includes/navigationMenu/navigationMenu.vue';
	import BlockOrders from '../blocks/orders/orders.vue';
	import BlockModal from '../blocks/includes/modals/delete-order.vue';

	import { mapGetters } from 'vuex';

	export default {
		name: 'Main',
		data: function(){
			return {}
		},
		components: {
			'block-header': BlockHeader,
			'block-nav': BlockNavigation,
			'block-orders': BlockOrders,
			'block-modal': BlockModal,
		},
		created() {},
		mounted() {},
		methods: {},
		computed: {
			isModalOrderOpen() {
				return $store.state.openModalOrder;
			},
			...mapGetters([
				'getOrdersData'
			])
		},
		store: $store
	}
</script>

<style lang="scss">
	@import '@/assets/sass/ui.scss';

	.main {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 200px);
		min-height: calc(100vh - 73px);
		position: relative;
		transition: background-color .5s ease;

		&_modal-mode {
			background-color: rgba(146, 163,171, 1);

			.orders {
				background-color: rgba(146, 163,171, 1);
			}
		}
	}

	.orders {
		min-height: inherit;
	}

	.mask {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transform: translateZ(1px);
		background-color: rgba(146, 163,171, .3);
	}
</style>