<template lang="pug">
	div
		block-header
		block-nav
		main.main
			block-products(:productData='getProductsData',
							:productType='getProductsType',
							:productSpec='getProductsSpec')
</template>

<script>

	import $store from '@/components/store.js';

	import BlockHeader from '../blocks/includes/topMenu/topMenu.vue';
	import BlockNavigation from '../blocks/includes/navigationMenu/navigationMenu.vue';
	import BlockProducts from '../blocks/products/products.vue';

	import { mapGetters } from 'vuex';

	export default {
		name: 'Main',
		data: function(){
			return {}
		},
		components: {
			'block-header': BlockHeader,
			'block-nav': BlockNavigation,
			'block-products': BlockProducts,
		},
		created() {},
		mounted() {},
		methods: {},
		computed: {
			...mapGetters([
				'getProductsData',
				'getProductsType',
				'getProductsSpec'
			])
		},
		store: $store
	}
</script>

<style lang="scss">
	@import '@/assets/sass/ui.scss';

	.main {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 200px);
		min-height: calc(100vh - 73px);
		position: relative;
		transition: background-color .5s ease;
		background-color: #f0f3f5;
	}
</style>