<template lang="pug">
	.modal(v-if="isModalOpen")
		.modal__wrapper
			button.modal__close(@click="closeModal")
			.modal__title Вы уверенны, что хотите удалить этот приход?
			.item.modal__item
				span.item__dot
				<svg class="item__svg" enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
					<g id="Expanded">
						<g>
							<g>
								<path d="M44,40H4c-2.206,0-4-1.794-4-4V6c0-2.206,1.794-4,4-4h40c2.206,0,4,1.794,4,4v30C48,38.206,46.206,40,44,40z M4,4     C2.897,4,2,4.897,2,6v30c0,1.103,0.897,2,2,2h40c1.103,0,2-0.897,2-2V6c0-1.103-0.897-2-2-2H4z"/>
							</g>
							<g>
								<path d="M38,46H10c-0.552,0-1-0.448-1-1s0.448-1,1-1h28c0.552,0,1,0.448,1,1S38.552,46,38,46z"/>
							</g>
							<g>
								<path d="M31.02,46c-0.007,0-0.013,0-0.02,0H17c-0.321,0-0.623-0.154-0.811-0.416c-0.188-0.261-0.239-0.596-0.138-0.901l2-6     C18.188,38.275,18.569,38,19,38h10c0.431,0,0.812,0.275,0.949,0.684l1.94,5.821C31.972,44.651,32.02,44.82,32.02,45     C32.02,45.552,31.572,46,31.02,46z M18.387,44h11.226l-1.333-4h-8.559L18.387,44z"/>
							</g>
							<g>
								<path d="M44,32H4V6h40V32z M6,30h36V8H6V30z"/>
							</g>
							<g>
								<circle cx="24" cy="35" r="2"/>
							</g>
						</g>
					</g>
				</svg>
				.item__inner
					.item__title Gigabyte Technology X58-USB3(Socet 1366) 6 X58-USB3
					span.item__subtitle sn-12.3456789
			.modal__footer
				button.modal__cancel(:class="{'modal__cancel_hover': deleteOrder === false}" @mouseenter="addHover" @click="closeModal") отменить
				button.modal__delete(:class="{'modal__delete_hover': deleteOrder === true}" @mouseenter="addHoverDelete" @click="closeModal")
					<svg enable-background="new 0 0 91 91" height="91px" id="Layer_1" version="1.1" viewBox="0 0 91 91" width="91px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g>
							<g>
								<path d="M16.142,90.613H68.39c3.418,0,6.197-2.779,6.197-6.195V29.52l-58.445-0.002V90.613z" fill="#e8364f"/>
								<path d="M58.431,42.701c0-1.547,1.254-2.801,2.801-2.801s2.803,1.254,2.803,2.801v37.295    c0,1.549-1.256,2.801-2.803,2.801s-2.801-1.252-2.801-2.801V42.701z M42.56,42.701c0-1.547,1.254-2.801,2.803-2.801    c1.545,0,2.799,1.254,2.799,2.801v37.295c0,1.549-1.254,2.801-2.799,2.801c-1.549,0-2.803-1.252-2.803-2.801V42.701z     M26.688,42.701c0-1.547,1.256-2.801,2.801-2.801c1.547,0,2.803,1.254,2.803,2.801v37.295c0,1.549-1.256,2.801-2.803,2.801    c-1.545,0-2.801-1.252-2.801-2.801V42.701z" fill="#e8364f"/>
								<rect fill="#e8364f" height="9.438" width="66.611" x="12.056" y="14.479"/>
								<rect fill="#e8364f" height="7.887" width="18.205" x="36.259" y="0.99"/>
							</g>
						</g>	
					</svg>
					span удалить
</template>

<script>
import $store from '@/components/store.js'

export default {
	name: 'delete-order',
	data: function(){
		return {
			deleteOrder: true
		}
	},
	components: {},
	props: {},
	methods: {
		addHover() {
			this.deleteOrder = false
		},
		addHoverDelete() {
			this.deleteOrder = true
		},
		closeModal() {
			$store.commit('setOpenModalOrder', false)
		}
	},
	computed: {
		isModalOpen () {
			return $store.state.openModalOrder;
		}
	},
	mounted() {},
	created() {}
	};
</script>

<style lang="scss" scoped>
	.modal {
		width: 790px;
		position: fixed;
		top: 50%;
		left: calc(50% + 100px);
		transform: translate3d(calc(-50% - 18px), -50%, 1px);
		z-index: 10;
		background-color: #ffffff;
		border-radius: 2px;
		box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.3);

		&__title {
			font-size: 23px;
			color: #000;
			margin-left: 35px;
			letter-spacing: .3px;
			margin-bottom: 37px;
		}

		&__wrapper {
			padding-top: 27px;
			position: relative;
		}

		&__footer {
			background-color: #85bd47;
			width: 100%;
			padding: 27px 39px 34px 30px;
			text-align: right;
		}

		&__delete {
			margin-left: 15px;
			
			svg {
				width: 15px;
				height: 15px;
				margin-right: 14px;
				opacity: 0;
			}
		}

		&__delete, &__cancel {
			text-transform: uppercase;
			color: #ffffff;
			width: 175px;
			height: 49px;
			border-radius: 49px;
			transition: background-color .5s ease;


			&_hover {
				color: #e8364f;
				background-color: #ffffff;

				svg {
					opacity: 1;
				}
			}
		}

		&__close {
			position: absolute;
			top: -20px;
			right: -20px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.5);

			&::after, &::before {
				content: '';
				width: 15px;
				height: 1px;
				display: inline-block;
				background-color: #90a4ae;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 1px) rotate(45deg);
			}

			&::after {
				transform: translate3d(-50%, -50%, 1px) rotate(-45deg);
			}
		}
	}

	.item {
		padding-left: 41px;
		border-top: 1px solid #f0f3f5;
		padding-top: 4px;
		margin-bottom: 11px;

		&__dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #8ac24a;
			border: 1px solid #82b74b;
			display: inline-block;
			vertical-align: middle;
			margin-right: 38px;
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
		}

		&__title {
			font-size: 16px;
			color: #000;
			letter-spacing: .35px;
			position: relative;


			&::after {
				content: '';
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: 3px;
				left: -1px;
				background-color: #e6eaec;
			}
		}

		&__subtitle {
			color: #90a4ae;
			position: relative;
			text-transform: uppercase;
			font-size: 14px;

			&::after {
				content: '';
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -1px;
				background-color: #e6eaec;
			}
		}

		&__svg {
			display: inline-block;
			vertical-align: middle;
			width: 37px;
			margin-right: 79px;
		}
	}
</style>
