<template lang="pug">
	.products
		.products__wrapper
			.products__outer
				<svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g>
						<g>
							<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="0.0000038" x2="512" y1="256" y2="256">
								<stop offset="0" style="stop-color:#33B49D"/>
								<stop offset="1" style="stop-color:#00A185"/>
							</linearGradient>
							<circle cx="256" cy="256" fill="url(#SVGID_1_)" r="256"/>
							<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="42.6666679" x2="469.3333435" y1="256.0005188" y2="256.0005188">
								<stop offset="0" style="stop-color:#00A185"/>
								<stop offset="1" style="stop-color:#33B49D"/>
							</linearGradient><path d="M256,469.3338623c-117.6309357,0-213.3333282-95.7023926-213.3333282-213.3333435    c0-117.6314545,95.7023926-213.333313,213.3333282-213.333313c117.636261,0,213.3333435,95.7018661,213.3333435,213.333313    C469.3333435,373.6314697,373.636261,469.3338623,256,469.3338623z" fill="url(#SVGID_2_)"/>
						</g>
						<polygon id="XMLID_109_" opacity="0.3" points="384,242.5413361 285.459198,242.5413361 285.459198,144 242.5424042,144    242.5424042,242.5413361 144,242.5413361 144,285.4581299 242.5424042,285.4581299 242.5424042,384 285.459198,384    285.459198,285.4581299 384,285.4581299  "/>
						<polygon fill="#FFFFFF" id="XMLID_189_" points="376,234.5413361 277.459198,234.5413361 277.459198,136 234.5424042,136    234.5424042,234.5413361 136,234.5413361 136,277.4581299 234.5424042,277.4581299 234.5424042,376 277.459198,376    277.459198,277.4581299 376,277.4581299  "/>
					</g>
				</svg>

				h3.products__title Продукты / {{productData.length}}

				.products__inner
					.select(:class="{select_open: isOpen}")
						select(name="select")
							template(v-for="(option, index) in productType")
								option(:value="option") {{ option }}
						.select__value(@click="toggleSelect()") {{  selectValue ? selectValue : productType[0] }}
						ul.select__dropdown
							template(v-for="(option, index) in productType")
								li.select__li
									.select__item(:class="{select__item_active: index === activeItem}" @click="setOption(option); activeItem = index") {{ option }}
					
					.select(:class="{select_open: isOpen1}")
						select(name="select")
							template(v-for="(option, index) in productSpec")
								option(:value="option") {{ option }}
						.select__value(@click="toggleSelect1()") {{  selectValue1 ? selectValue1 : productSpec[0] }}
						.select__dropdown
							ul
								template(v-for="(option, index) in productSpec")
									li.select__li
										.select__item(:class="{select__item_active: index === activeItem1}" @click="setOption1(option); activeItem1 = index") {{ option }}
			ul.products__list
				template(v-for="item in productData")
					li.line.card__line
						span.line__dot(:class="{'line__dot_work': isWork === true}")
						<svg class="line__svg" enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
							<g id="Expanded">
								<g>
									<g>
										<path d="M44,40H4c-2.206,0-4-1.794-4-4V6c0-2.206,1.794-4,4-4h40c2.206,0,4,1.794,4,4v30C48,38.206,46.206,40,44,40z M4,4     C2.897,4,2,4.897,2,6v30c0,1.103,0.897,2,2,2h40c1.103,0,2-0.897,2-2V6c0-1.103-0.897-2-2-2H4z"/>
									</g>
									<g>
										<path d="M38,46H10c-0.552,0-1-0.448-1-1s0.448-1,1-1h28c0.552,0,1,0.448,1,1S38.552,46,38,46z"/>
									</g>
									<g>
										<path d="M31.02,46c-0.007,0-0.013,0-0.02,0H17c-0.321,0-0.623-0.154-0.811-0.416c-0.188-0.261-0.239-0.596-0.138-0.901l2-6     C18.188,38.275,18.569,38,19,38h10c0.431,0,0.812,0.275,0.949,0.684l1.94,5.821C31.972,44.651,32.02,44.82,32.02,45     C32.02,45.552,31.572,46,31.02,46z M18.387,44h11.226l-1.333-4h-8.559L18.387,44z"/>
									</g>
									<g>
										<path d="M44,32H4V6h40V32z M6,30h36V8H6V30z"/>
									</g>
									<g>
										<circle cx="24" cy="35" r="2"/>
									</g>
								</g>
							</g>
						</svg>
						.line__inner
							.line__title
								span {{item.title}}
							span.line__subtitle {{item.serialNumber}}
						span.line__status
							template(v-if='isWork')
								span свободен
							template(v-else)
								span в ремонте
						.line__duration.duration
							.duration__from
								span.duration__context c
								span.duration__date 06 / 04 / 2017
							.duration__to
								span.duration__context по
								span.duration__date 06 / 08 / 2025
						.line__new
							template(v-if="isNew")
								span новый
							template(v-else)
								span Б/У
						.price.line__price
							span.price__usd 2500 $
							span.price__uah 250 000.50 <span>UAH</span>
						.line__title-group Длинное название группы, как функция Грина для решения линейных краевых задач
						.line__representative Семен Семенов
						.line__title-order Длинное название прихода, как функция Грина для решения линейных краевых задач
						.date.item__date
							span.date__first 04 / 12
							span.date__second 06 / Апр / 2017
						button.line__delete
							<svg enable-background="new 0 0 91 91" height="91px" id="Layer_1" version="1.1" viewBox="0 0 91 91" width="91px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g>
									<g>
										<path d="M16.142,90.613H68.39c3.418,0,6.197-2.779,6.197-6.195V29.52l-58.445-0.002V90.613z" fill="#647F94"/>
										<path d="M58.431,42.701c0-1.547,1.254-2.801,2.801-2.801s2.803,1.254,2.803,2.801v37.295    c0,1.549-1.256,2.801-2.803,2.801s-2.801-1.252-2.801-2.801V42.701z M42.56,42.701c0-1.547,1.254-2.801,2.803-2.801    c1.545,0,2.799,1.254,2.799,2.801v37.295c0,1.549-1.254,2.801-2.799,2.801c-1.549,0-2.803-1.252-2.803-2.801V42.701z     M26.688,42.701c0-1.547,1.256-2.801,2.801-2.801c1.547,0,2.803,1.254,2.803,2.801v37.295c0,1.549-1.256,2.801-2.803,2.801    c-1.545,0-2.801-1.252-2.801-2.801V42.701z" fill="#95AEC2"/>
										<rect fill="#647F94" height="9.438" width="66.611" x="12.056" y="14.479"/>
										<rect fill="#647F94" height="7.887" width="18.205" x="36.259" y="0.99"/>
									</g>
								</g>	
							</svg>
</template>

<script>

export default {
	name: 'products',
	data: function(){
		return {
			isNew: false,
			isWork: false,
			selectValue: '',
			selectValue1: '',
			isOpen: false,
			isOpen1: false,
			activeItem: 0,
			activeItem1: 0,
		}
	},
	components: {},
	props: {
		productData: {
			type: Array,
			default: () => {
				return [];
			}
		},
		productType: {
			type: Array,
			default: () => {
				return [];
			}
		},
		productSpec: {
			type: Array,
			default: () => {
				return [];
			}
		}
	},
	methods: {
		toggleSelect() {
			this.isOpen = !this.isOpen;
		},
		toggleSelect1() {
			this.isOpen1 = !this.isOpen1;
		},
		closeSelect() {
			this.isOpen = false;
		},
		setOption(value) {
			this.selectValue = value;
			this.closeSelect();
		},
		closeSelect1() {
			this.isOpen1 = false;
		},
		setOption1(value) {
			this.selectValue1 = value;
			this.closeSelect1();
		},
	},
	computed: {},
	mounted() {},
	created() {}
	};
</script>

<style lang="scss" scoped>
	.products {
		background-color: #f0f3f5;;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		padding: 50px 160px 50px 124px;
		transition: background-color .5s ease;

		&__wrapper {
			position: relative;
		}

		&__title {
			font-size: 31px;
			color: #2c3c44;
			margin: 24px 0;
			display: inline-block;
			vertical-align: middle;
			padding-left: 17px;
		}

		&__list {
			padding-top: 47px;
			white-space: nowrap;
			overflow-x: scroll;
		}

		&__outer {
			svg {
				width: 40px;
				height: 40px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
			margin-left: 50px;
		}
	}

	.item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
		border: 1px solid #c0c9ce;
		border-radius: 3px;
		padding: 14px 34px 11px;
		transition: all .6s ease;
		background-color: #fff;
		overflow: hidden;
		transition: all .5s ease; 
		white-space: nowrap;

		&__title {
			font-size: 24px;
			width: 583px;
			color: #546e7a;
			transition: opacity .3s ease;
		}

		&__title-text {
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				display: inline-block;
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: -2px;
				left: -1px;
				background-color: #b6bfc3;
			}
		}

		&__delete {
			width: 20px;
			height: 20px;

			svg {
				width: 15px;
				height: 15px;
			}
		}

		&:hover {
			box-shadow: 0px 10px 45px -24px rgba(0,0,0,0.5);
		}
	}

	.quantity {
		transition: transform .5s ease;

		&__num, &__text {
			display: block;
		}

		&__num {
			font-size: 23px;
			color: #546e7a;
		}

		&__text {
			line-height: 1.3;
			font-size: 15px;
			color: #90a4ae;
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			width: 42px;
			height: 42px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 19px;
		}
	}

	.date {
		color: #546e7a;
		text-align: center;
		transition: transform .5s ease;
		display: inline-block;
		vertical-align: middle;
		margin-right: 50px;

		&__first, &__second {
			display: block;
			color: #90a4ae;
		}

		&__second {
			line-height: 1.4;
			color: #546e7a;
		}

		&__first {
			font-size: 12px;
			line-height: 1;
		}
	}

	.price {
		display: inline-block;
		vertical-align: middle;

		&__usd, &__uah {
			display: block;
			color: #546e7a;
			line-height: 1;
			letter-spacing: .95px;
		}

		&__uah {

			span {
				font-size: 12px;
			}
		}

		&__usd {
			font-size: 12px;
			color: #90a4ae;
			letter-spacing: 1.4px;
			line-height: 1.1;
		}
	}

	.duration {
		display: inline-block;
		vertical-align: middle;
		margin-right: 50px;

		&__context {
			color: #90a4ae;
			font-size: 12px;
		}

		&__date {
			display: inline-block;
			margin-left: 15px;
			color: #546e7a;
			font-size: 16px;
		}

		&__from, &__to {
			line-height: 1.25;
		}
	}

	.line {
		padding: 10px 33px 11px 36px;
		border-top: 1px solid #f0f3f5;
		margin-bottom: 12px;
		transition: all .5s ease;
		background-color: #fff;
		width: max-content;
		border-radius: 3px;

		&__dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #2c3c44;
			display: inline-block;
			vertical-align: middle;
			margin-right: 50px;
			white-space: normal;

			&_work {
				background-color: #8ac24a;
				border: 1px solid #82b74b;
			}
		}

		&__price {
			margin-right: 50px;
			white-space: normal;
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
			margin-right: 50px;
			width: 433px;
		}

		&__title {
			font-size: 16px;
			color: #000;
			letter-spacing: .35px;
			position: relative;
			white-space: normal;
			

			span {
				background-image: linear-gradient(to right, #e6eaec 100%, transparent 75%);
				background-position: 0 1em;
				background-repeat: repeat-x;
				background-size: 100% 1px;
				line-height: 1.1;
				padding-bottom: 4px;
			}
		}

		&__title-group {
			font-size: 23px;
			width: 479px;
			color: #546e7a;
			text-decoration: underline;
			text-decoration-color: #b6bfc3;
			margin-right: 50px;
			white-space: normal;
			display: inline-block;
			vertical-align: middle;
		}

		&__title-order {
			font-size: 23px;
			width: 479px;
			color: #546e7a;
			text-decoration: underline;
			text-decoration-color: #b6bfc3;
			margin-right: 50px;
			white-space: normal;
			display: inline-block;
			vertical-align: middle;
		}

		&__subtitle {
			color: #90a4ae;
			position: relative;
			text-transform: uppercase;
			font-size: 14px;

			&::after {
				content: '';
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -1px;
				background-color: #e6eaec;
			}
		}

		&__svg {
			display: inline-block;
			vertical-align: middle;
			width: 37px;
			margin-right: 50px;
		}

		&__delete {
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;

			svg {
				width: 15px;
				height: 15px;
			}
		}

		&__status {
			font-size: 17px;
			display: inline-block;
			vertical-align: middle;
			color: #2c3c44;
			margin-right: 50px;

			&_work {
				color: #cddc39;
			}
		}

		&__new, &__representative {
			margin-right: 50px;
			display: inline-block;
			vertical-align: middle;

			span {
				color: #546e7a;
			}
		}

		&__representative {
			color: #546e7a;
			font-size: 20px;
		}
	}

	/deep/ .select {
		text-transform: none;
		color: rgba(#0f0f0f, .6);
		display: inline-block;
		width: 208px;
		text-align: left;
		cursor: default;
		vertical-align: middle;
		line-height: normal;
		font-size: 12px;
		color: #262626;
		position: relative;
		z-index: 60;
		height: 25px;
		margin-right: 50px;

		select {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			position: absolute;
		}

		&:after {
			content: "";
			position: absolute;
			right: 6px;
			top: 11px;
			display: block;
			content: ''; 
			position: absolute;
			border: 5px solid transparent;
			border-top: 5px solid #90a4ae; 
			transition: transform .5s ease;
			pointer-events: none;
		}

		&__value {
			padding: 8px 16px 8px 12px;
			cursor: pointer;
			position: relative;
			white-space: nowrap;
			color: #000;
			font: 8px/11px Arial, Helvetica, sans-serif;
			transition: color .5s ease;;
			font-size: 19px;
			background-color: #fff;
			border: 1px solid #c0c9ce;
			border-radius: 3px;

			&::after {
				content: '';
				width: 100%;
				height: 1px;
				background: rgba(255, 255, 255, 0.4);
				bottom: -1px;
				left: 0;
				position: absolute;
			}
		}

		&__dropdown {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			background: #fff;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all .5s ease;
			overflow: hidden;
			font-size: 0;
			letter-spacing: 0;
			padding-top: 11px;
			min-height: 127px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			border: 1px solid #c0c9ce;
			border-top-color: rgba(0,0,0,0);
			overflow: hidden;
		}

		&__li {
			padding-left: 12px;
			transition: box-shadow .5s ease;

			&:hover {
				box-shadow: 0px 2px 11px -4px black;
			}
		}

		&__item {
			padding: 4px 0;
			cursor: pointer;
			font: 16px/18px Arial, Helvetica, sans-serif;
			letter-spacing: 0.05em;
			color: #000;
			display: inline-block;
			width: 100%;


			&:hover {
				opacity: .5s ease;
			}

			&_active {
				display: none;
			};
		}

		&_open {
			.select__value {

				&::after {
					background-color: #f3f3f3;
				}
			}

			.select__dropdown {
				opacity: .98;
				visibility: visible;
				pointer-events: all;
				box-shadow: 0px 10px 45px -24px rgba(0,0,0,0.5);
			}

			&:after {
				transform: rotate(180deg) translate3d(1px, 50%, 1px);
			}
		}
	}
</style>
