<template lang="pug">
	.orders
		.orders__wrapper
			.orders__outer
				<svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g>
						<g>
							<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="0.0000038" x2="512" y1="256" y2="256">
								<stop offset="0" style="stop-color:#33B49D"/>
								<stop offset="1" style="stop-color:#00A185"/>
							</linearGradient>
							<circle cx="256" cy="256" fill="url(#SVGID_1_)" r="256"/>
							<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="42.6666679" x2="469.3333435" y1="256.0005188" y2="256.0005188">
								<stop offset="0" style="stop-color:#00A185"/>
								<stop offset="1" style="stop-color:#33B49D"/>
							</linearGradient><path d="M256,469.3338623c-117.6309357,0-213.3333282-95.7023926-213.3333282-213.3333435    c0-117.6314545,95.7023926-213.333313,213.3333282-213.333313c117.636261,0,213.3333435,95.7018661,213.3333435,213.333313    C469.3333435,373.6314697,373.636261,469.3338623,256,469.3338623z" fill="url(#SVGID_2_)"/>
						</g>
						<polygon id="XMLID_109_" opacity="0.3" points="384,242.5413361 285.459198,242.5413361 285.459198,144 242.5424042,144    242.5424042,242.5413361 144,242.5413361 144,285.4581299 242.5424042,285.4581299 242.5424042,384 285.459198,384    285.459198,285.4581299 384,285.4581299  "/>
						<polygon fill="#FFFFFF" id="XMLID_189_" points="376,234.5413361 277.459198,234.5413361 277.459198,136 234.5424042,136    234.5424042,234.5413361 136,234.5413361 136,277.4581299 234.5424042,277.4581299 234.5424042,376 277.459198,376    277.459198,277.4581299 376,277.4581299  "/>
					</g>
				</svg>

				h3.orders__title Приходы / {{dataPull.length}}
			.orders__list(:class="{'orders__list_small': viewDetails === true }")
				ul
					template(v-for='(item, index) in dataPull')
						li.item
							.item__active-marker
							.item__title
								span.item__title-text(@click="openCard(index)") {{item.title}}
							.quantity.item__quantity 
								<svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g>
										<g>
											<circle cx="256" cy="256" fill="#d0d9dd" r="256"/>
											<path d="M256,469.3338623c-117.6315308,0-213.3333435-95.7023926-213.3333435-213.3333435    c0-117.6314545,95.7018051-213.333313,213.3333435-213.333313c117.6362,0,213.3333435,95.7018661,213.3333435,213.333313    C469.3333435,373.6314697,373.6362,469.3338623,256,469.3338623z" fill="#fff"/>
										</g>
										<g>
											<circle cx="170.0324707" cy="174.964798" opacity="0.3" r="26.0319996"/>
											<rect height="10" opacity="0.3" width="161.7552032" x="222.2442017" y="169.965332"/>
											<circle cx="170.0324707" cy="264" opacity="0.3" r="26.0319996"/>
											<rect height="10" opacity="0.3" width="161.7552032" x="222.2442017" y="259.0010681"/>
											<circle cx="170.0324707" cy="353.034668" opacity="0.3" r="26.0319996"/>
											<rect height="10" opacity="0.3" width="161.7552032" x="222.2442017" y="348.0341492"/>
										</g>
										<g>
											<circle cx="162.0324707" cy="166.964798" fill="#546e7a" r="26.0319996"/>
											<rect fill="#546e7a" height="10" width="161.7552032" x="214.2442017" y="161.965332"/>
											<circle cx="162.0324707" cy="256" fill="#546e7a" r="26.0319996"/>
											<rect fill="#546e7a" height="10" width="161.7552032" x="214.2442017" y="251.0010681"/>
											<circle cx="162.0324707" cy="345.034668" fill="#546e7a" r="26.0319996"/>
											<rect fill="#546e7a" height="10" width="161.7552032" x="214.2442017" y="340.0341492"/>
										</g>
									</g>
								</svg>
								.quantity__inner
									span.quantity__num {{item.getProducts.length}}
									span.quantity__text Продукта
							.date.item__date
								span.date__first {{getShortDate(item.date)}}
								span.date__second {{getDate(item.date)}}
							.price.item__price
								span.price__usd {{ addSum(item.getProducts, index, false) }} $
								span.price__uah {{ addSum(item.getProducts, index, true) }} <span>UAH</span>
							button.item__delete(@click='openModal')
								<svg enable-background="new 0 0 91 91" height="91px" id="Layer_1" version="1.1" viewBox="0 0 91 91" width="91px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g>
										<g>
											<path d="M16.142,90.613H68.39c3.418,0,6.197-2.779,6.197-6.195V29.52l-58.445-0.002V90.613z" fill="#647F94"/>
											<path d="M58.431,42.701c0-1.547,1.254-2.801,2.801-2.801s2.803,1.254,2.803,2.801v37.295    c0,1.549-1.256,2.801-2.803,2.801s-2.801-1.252-2.801-2.801V42.701z M42.56,42.701c0-1.547,1.254-2.801,2.803-2.801    c1.545,0,2.799,1.254,2.799,2.801v37.295c0,1.549-1.254,2.801-2.799,2.801c-1.549,0-2.803-1.252-2.803-2.801V42.701z     M26.688,42.701c0-1.547,1.256-2.801,2.801-2.801c1.547,0,2.803,1.254,2.803,2.801v37.295c0,1.549-1.256,2.801-2.803,2.801    c-1.545,0-2.801-1.252-2.801-2.801V42.701z" fill="#95AEC2"/>
											<rect fill="#647F94" height="9.438" width="66.611" x="12.056" y="14.479"/>
											<rect fill="#647F94" height="7.887" width="18.205" x="36.259" y="0.99"/>
										</g>
									</g>	
								</svg>
			transition(name="fade")
				.orders__inner(v-if="viewDetails")
					.card.orders__card
						.card__wrapper
							button.card__close(@click="closeCard")
							h5.card__title Оч длинное название прихода
							button.card__add-item
								<svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g>
										<g>
											<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="0.0000038" x2="512" y1="256" y2="256">
												<stop offset="0" style="stop-color:#33B49D"/>
												<stop offset="1" style="stop-color:#00A185"/>
											</linearGradient>
											<circle cx="256" cy="256" fill="url(#SVGID_1_)" r="256"/>
											<linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="42.6666679" x2="469.3333435" y1="256.0005188" y2="256.0005188">
												<stop offset="0" style="stop-color:#00A185"/>
												<stop offset="1" style="stop-color:#33B49D"/>
											</linearGradient><path d="M256,469.3338623c-117.6309357,0-213.3333282-95.7023926-213.3333282-213.3333435    c0-117.6314545,95.7023926-213.333313,213.3333282-213.333313c117.636261,0,213.3333435,95.7018661,213.3333435,213.333313    C469.3333435,373.6314697,373.636261,469.3338623,256,469.3338623z" fill="url(#SVGID_2_)"/>
										</g>
										<polygon id="XMLID_109_" opacity="0.3" points="384,242.5413361 285.459198,242.5413361 285.459198,144 242.5424042,144    242.5424042,242.5413361 144,242.5413361 144,285.4581299 242.5424042,285.4581299 242.5424042,384 285.459198,384    285.459198,285.4581299 384,285.4581299  "/>
										<polygon fill="#FFFFFF" id="XMLID_189_" points="376,234.5413361 277.459198,234.5413361 277.459198,136 234.5424042,136    234.5424042,234.5413361 136,234.5413361 136,277.4581299 234.5424042,277.4581299 234.5424042,376 277.459198,376    277.459198,277.4581299 376,277.4581299  "/>
									</g>
								</svg>
								span Добавить продукт

							ul.card__list
								template(v-for="card in dataPull[cardNumber].getProducts")
									li.line.card__line
										span.line__dot
										<svg class="line__svg" enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
											<g id="Expanded">
												<g>
													<g>
														<path d="M44,40H4c-2.206,0-4-1.794-4-4V6c0-2.206,1.794-4,4-4h40c2.206,0,4,1.794,4,4v30C48,38.206,46.206,40,44,40z M4,4     C2.897,4,2,4.897,2,6v30c0,1.103,0.897,2,2,2h40c1.103,0,2-0.897,2-2V6c0-1.103-0.897-2-2-2H4z"/>
													</g>
													<g>
														<path d="M38,46H10c-0.552,0-1-0.448-1-1s0.448-1,1-1h28c0.552,0,1,0.448,1,1S38.552,46,38,46z"/>
													</g>
													<g>
														<path d="M31.02,46c-0.007,0-0.013,0-0.02,0H17c-0.321,0-0.623-0.154-0.811-0.416c-0.188-0.261-0.239-0.596-0.138-0.901l2-6     C18.188,38.275,18.569,38,19,38h10c0.431,0,0.812,0.275,0.949,0.684l1.94,5.821C31.972,44.651,32.02,44.82,32.02,45     C32.02,45.552,31.572,46,31.02,46z M18.387,44h11.226l-1.333-4h-8.559L18.387,44z"/>
													</g>
													<g>
														<path d="M44,32H4V6h40V32z M6,30h36V8H6V30z"/>
													</g>
													<g>
														<circle cx="24" cy="35" r="2"/>
													</g>
												</g>
											</g>
										</svg>
										.line__inner
											.line__title
												span {{card.title}}
											span.line__subtitle {{card.serialNumber}}
										span.line__status Свободен
										button.line__delete
											<svg enable-background="new 0 0 91 91" height="91px" id="Layer_1" version="1.1" viewBox="0 0 91 91" width="91px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
												<g>
													<g>
														<path d="M16.142,90.613H68.39c3.418,0,6.197-2.779,6.197-6.195V29.52l-58.445-0.002V90.613z" fill="#647F94"/>
														<path d="M58.431,42.701c0-1.547,1.254-2.801,2.801-2.801s2.803,1.254,2.803,2.801v37.295    c0,1.549-1.256,2.801-2.803,2.801s-2.801-1.252-2.801-2.801V42.701z M42.56,42.701c0-1.547,1.254-2.801,2.803-2.801    c1.545,0,2.799,1.254,2.799,2.801v37.295c0,1.549-1.254,2.801-2.799,2.801c-1.549,0-2.803-1.252-2.803-2.801V42.701z     M26.688,42.701c0-1.547,1.256-2.801,2.801-2.801c1.547,0,2.803,1.254,2.803,2.801v37.295c0,1.549-1.256,2.801-2.803,2.801    c-1.545,0-2.801-1.252-2.801-2.801V42.701z" fill="#95AEC2"/>
														<rect fill="#647F94" height="9.438" width="66.611" x="12.056" y="14.479"/>
														<rect fill="#647F94" height="7.887" width="18.205" x="36.259" y="0.99"/>
													</g>
												</g>	
											</svg>

</template>

<script>
	import $store from '@/components/store.js';

	export default {
		name: 'orders',
		data: function(){
			return {
				viewDetails: false,
				allPriceUah: true,
				cardNumber: 0,
				orderItems: '',
				monthList: [
					'Янв',
					'Фев',
					'Мар',
					'Апр',
					'Май',
					'Июн',
					'Июл',
					'Авг',
					'Сен',
					'Окт',
					'Ноя',
					'Дек'
				]
			}
		},
		components: {},
		props: {
			dataPull: {
				type: Array,
				default: () => {
					return [];
				}
			}
		},
		methods: {
			openModal() {
				$store.commit('setOpenModalOrder', true)
			},
			closeCard() {
				this.viewDetails = false
				
				for (let i = 0; i < this.orderItems.length; i++) {
					this.orderItems[i].classList.remove('item_active')
				}
			},
			openCard(index) {
				this.cardNumber = index

				this.orderItems[index].classList.add('item_active')
				this.viewDetails = true
			},
			getDate(date) {

				var parts = (date.slice(0, 10)).split('-');

				for (let i = 0; i < this.monthList.length; i++) {
					if ( i  === Number(parts[1])) {
						parts[1] = this.monthList[i]
					}
				}
				

				return (parts[2] + ' / ' + parts[1] + ' / ' + parts[0]  ); 
			},
			getShortDate(date) {
				var parts = (date.slice(0, 10)).split('-');

				return (parts[2] + ' / ' + parts[1]); 
			},
			addSum(mass, index, isUah) {
				let number = 0;

				for (let j = this.dataPull.length -1 ; j >= 0; j--) {
					if (index == j) {
						for (let i = 0; i < mass.length; i ++) {
							if (isUah) {
								number += mass[i].price[1].value
							} else {
								number += mass[i].price[0].value
							}
						}
						return number
					}
				}
			}
		},
		computed: {},
		mounted() {
			this.orderItems = document.getElementsByClassName('item');
		},
		created() {}
	};
</script>

<style lang="scss" scoped>

	.fade-enter-active, .fade-leave-active {
		transition: opacity .6s ease .4s;
	}
	.fade-enter, .fade-leave-to {
		transition: opacity .3s ease;
		opacity: 0;
	}
	.orders {
		background-color: #ffffff;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		padding: 50px 160px 50px 124px;
		transition: background-color .5s ease;

		&__wrapper {
			position: relative;
		}

		&__title {
			font-size: 31px;
			color: #2c3c44;
			margin: 24px 0;
			display: inline-block;
			vertical-align: middle;
			padding-left: 17px;
		}

		&__list {
			padding-top: 45px;
			transition: all .5s ease;

			&_small {

				.item {
					width: 459px;

					&__title {
						opacity: 0;
					}
				}

				.quantity {
					transform: translateX(-300px);
				}

				.date {
					transform: translateX(-250px);
				}
			}
		}

		&__outer {
			svg {
				width: 40px;
				height: 40px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__inner {
			border: 1px solid #c0c9ce;
			border-radius: 3px;
			position: absolute;
			top: 118px;
			right: 0;
			width: calc(100% - 483px);
		}
	}

	.item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
		border: 1px solid #c0c9ce;
		border-radius: 3px;
		padding: 14px 34px 11px;
		transition: all .6s ease;
		background-color: #fff;
		overflow: hidden;
		transition: all .5s ease; 
		white-space: nowrap;
		position: relative;

		&__title {
			font-size: 24px;
			width: 583px;
			color: #546e7a;
			transition: opacity .3s ease;
		}

		&__title-text {
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				display: inline-block;
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: -2px;
				left: -1px;
				background-color: #b6bfc3;
			}
		}

		&__delete {
			width: 20px;
			height: 20px;

			svg {
				width: 15px;
				height: 15px;
			}
		}

		&__active-marker {
			height: 100%;
			width: 45px;
			background-color: #cfd8dc;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			transition: opacity .5s ease;
			visibility: hidden;

			&::after, &::before {
				content: '';
				width: 10px;
				height: 3px;
				border-radius: 3px;
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, calc(-50% + 3px), 1px) rotate(-45deg);
			}

			&::after {
				transform: translate3d(-50%, calc(-50% - 4px), 1px) rotate(45deg);
			}
		}

		&:hover {
			box-shadow: 0px 10px 45px -24px rgba(0,0,0,0.5);
		}

		&_active {

			.item {

				&__active-marker {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	.date {
		color: #546e7a;
		text-align: center;
		transition: transform .5s ease;

		&__first {
			font-size: 12px;
			line-height: 1;
			
		}

		&__second {
		
		}
	}

	.quantity {
		transition: transform .5s ease;

		&__num, &__text {
			display: block;
		}

		&__num {
			font-size: 23px;
			color: #546e7a;
		}

		&__text {
			line-height: 1.3;
			font-size: 15px;
			color: #90a4ae;
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			width: 42px;
			height: 42px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 19px;
		}
	}

	.date {

		&__first, &__second {
			display: block;
			color: #90a4ae;
		}

		&__second {
			line-height: 1.4;
			color: #546e7a;
		}
	}

	.price {

		&__usd, &__uah {
			display: block;
			color: #546e7a;
			line-height: 1;
			letter-spacing: .95px;
		}

		&__uah {

			span {
				font-size: 12px;
			}
		}

		&__usd {
			font-size: 12px;
			color: #90a4ae;
			letter-spacing: 1.4px;
			line-height: 1.1;
		}
	}

	.line {
		padding-left: 43px;
		border-top: 1px solid #f0f3f5;
		padding-top: 3px;
		margin-bottom: 3px;
		transition: all .5s ease;
		padding-right: 33px;
		position: relative;

		&__dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #8ac24a;
			border: 1px solid #82b74b;
			display: inline-block;
			vertical-align: middle;
			margin-right: 32px;
		}

		&__inner {
			display: inline-block;
			vertical-align: middle;
			width: 55%;
			line-height: 1;
		}

		&__title {
			font-size: 16px;
			color: #000;
			letter-spacing: .35px;
			position: relative;
			
			span {
				background-image: linear-gradient(to right, #a7c2d0 100%, transparent 75%);
				background-position: 0 1em;
				background-repeat: repeat-x;
				background-size: 100% 1px;
				line-height: 1.7;
			}
		}

		&__subtitle {
			color: #90a4ae;
			position: relative;
			text-transform: uppercase;
			font-size: 14px;

			&::after {
				content: '';
				width: calc(100% + 2px);
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -1px;
				background-color: #e6eaec;
			}
		}

		&__svg {
			display: inline-block;
			vertical-align: middle;
			width: 37px;
			margin-right: 40px;
		}

		&__delete {
			width: 20px;
			height: 20px;
			float: right;
			margin-top: 16px;

			svg {
				width: 15px;
				height: 15px;
			}
		}

		&__status {
			font-size: 17px;
			display: inline-block;
			vertical-align: middle;
			color: #8ac24a;
			margin-left: 76px;
		}

		&:hover {
			box-shadow: 0px 10px 45px -24px rgba(0,0,0,0.5);
		}
	}

	.card {

		&__wrapper {
			position: relative;
			padding-top: 32px;
		}

		&__title {
			font-size: 24px;
			color: #000;
			padding-left: 37px;
			margin-top: 31px;
			margin-bottom: 22px;
			margin-top: 0;
		}

		&__add-item {
			color: #00A185;
			margin-left: 38px;

			svg {
				width: 20px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				font-size: 15px;
			}
		}

		&__list {
			padding-top: 14px;
		}

		&__close {
			position: absolute;
			top: -20px;
			right: -20px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #ffffff;
			box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.5);

			&::after, &::before {
				content: '';
				width: 15px;
				height: 1px;
				display: inline-block;
				background-color: #90a4ae;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 1px) rotate(45deg);
			}

			&::after {
				transform: translate3d(-50%, -50%, 1px) rotate(-45deg);
			}
		}
	}
</style>
