<template lang="pug">
	aside.sidebar
		.sidebar__wrapper
			.sidebar__image
				span Photo
			ul.sidebar__list
				template(v-for="item in links")
					li
						router-link.sidebar__link(:to='item.link') {{item.title}}
</template>

<script>

export default {
	name: 'navigation-menu',
	data: function(){
		return {
			links: [
				{
					title: 'приход',
					link: 'orders'
				},
				{
					title: 'продукты',
					link: 'products'
				}
			]
		}
	},
	components: {},
	props: {},
	methods: {},
	computed: {},
	mounted() {},
	created() {},
	};
</script>

<style lang="scss" scoped>

	.sidebar {
		width: 200px;
		min-height: calc(100vh - 73px);
		height: 100%;
		background-color: #fdfdfd;
		display: inline-block;
		box-shadow: 2px 0px 50px 0px rgba(0, 0, 0, 0.2);
		padding-top: 47px;
		vertical-align: top;
		position: relative;
		z-index: 1;
		transform: translateZ(1px);

		&__wrapper {
			text-align: center;
		}

		&__image {
			width: 100px;
			height: 100px;
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			background-color: rgba(0,0,0, .1);
			margin-bottom: 43px;

			span {
				display: inline-block;
				vertical-align: middle;
			}

			&::before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}

		&__list {
			display: inline-block;
		}

		&__link {
			color: #36454d;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 48px;
			position: relative;
		}
	}

	.router-link-active {
	
		&::after {
			content: '';
			width: calc(100% + 4px);
			height: 2px;
			background-color: #5c8e29;
			position: absolute;
			bottom: -4px;
			left: -2px;
		}
	}
</style>
