@import '../helpers/sass/normalize.scss';
@import '../helpers/sass/mixins.scss';

#app {
	min-width: 100%;
	overflow: hidden;
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

p {
	margin: 25px 0;
}

body {
	font: 16px/24px Arial, Helvetica, sans-serif;
	color: #000;
}

body, html {
	overscroll-behavior: none;
}

body::-webkit-scrollbar {
	width: 0px;  
}

body { -ms-overflow-style: none; }


body { overflow: -moz-scrollbars-none; }

button {
	border: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	cursor: pointer;
	outline: none;
}

input {
	border: none;
	outline: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
}